{% extends "base.html" %} 
{% block title %}Home{% endblock %}
 {% block content %}
  <div class="container mt-4"></div>
  <h1 align="center">Погода</h1>
  <body>
    {% if weather_images and current_weather in weather_images %}
      <img src="{{ url_for('static', filename='images/' + weather_images[current_weather]) }}" alt="Weather Image" width="300" height="300">
    {% else %}
      <p>No image available for the current weather</p>
    {% endif %}
    <br>
    <form method="POST">
      {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
      {% endfor %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="temperature">Температура (Фаренгейт):</label>
            <input type="number" step="any" class="form-control" id="temperature" name="temperature">
          </div>
          <div class="form-group">
            <label for="humidity">Влажность (проценты):</label>
            <input type="number" step="any" class="form-control" id="humidity" name="humidity">
          </div>
          <div class="form-group">
            <label for="precip">Осадки (дюймы):</label>
            <input type="number" step="any" class="form-control" id="precip" name="precip">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="ws">Скорость ветра (мили/час):</label>
            <input type="number" step="any" class="form-control" id="ws" name="ws">
          </div>
          <div class="form-group">
            <label for="pressure">Давление (миллибары):</label>
            <input type="number" step="any" class="form-control" id="pressure" name="pressure">
          </div>
          <button type="submit" class="btn btn-primary">Ввести</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
