<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
</head>

<body>
    <section class="hero is-primary is-bold">
        <div class="container">
            <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
                <a class="nav-item nav-link" id="home" href="/"  style="font-family: 'Franklin Gothic Medium'; color: #ffffff;">Предсказание погоды</a>
                <a class="nav-item nav-link" id="home" href="/weather"style="font-family: 'Franklin Gothic Medium'; color: #ffffff;">Погода в городе</a>
                <a class="nav-item nav-link" id="logout" href="/logout" style="margin-left:700px; font-family: 'Franklin Gothic Medium'; color: #ffffff;">Выход</a>
            </div>
    </div>
</section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city" type="text" placeholder="City Name" style="text-transform: capitalize;">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Добавить город
                                </button>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set message_class = 'is-success' %}

                                {% if category == 'error' %}
                                    {% set message_class = 'is-danger' %}
                                {% endif %}
                                <div class="notification {{ message_class }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for weather in weather_data %}
                <div class="column is-one-third">
                    
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        Описание: {{ weather.description }}
                                        <br>
                                        Температура:   {{ weather.temperature }} °C
                                        <br>
                                        Влажность:   {{ weather.humidity}}%
                                        <br>
                                        Давление:   {{ weather.pressure}}
                                        <br> 
                                        Скорость ветра:   {{ weather.windspeed }}
                                        <br> 

                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                               <a href=" {{ url_for('views.delete_city', name=(weather.city)) }}"> 
                                   <button class="delete"></button>
                               </a>
                            </div>
                        </article>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>

</html>